.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.unit {
  height: 6vh;
  width: 8vh;
  border: 0.5vh solid;
  border-radius: 15%;
  margin: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: yellow;
}

.not {
  border-color: #ff0000;
}

.and {
  border-color: #00ff00;
}

.or {
  border-color: #0000ff;
}

.xor {
  border-color: #ff9900;
}

.clk {
  border-color: #ff00f0;
}

.source {
  border-color: #ffff00;
}
