.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.unit {
  height: 6vh;
  width: 8vh;
  border: 0.5vh solid #ff00f0;
  border-radius: 15%;
  margin: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NOT {
  border-color: #ff0000;
}

.AND {
  border-color: #00ff00;
}

.OR {
  border-color: #0000ff;
}

.XOR {
  border-color: #ff9900;
}

.SOURCE {
  border-color: #ffff00;
}
